 @page
@model IndexModel
@{
    ViewData["Title"] = "Komis samochodowy MIDAS";
}

<section class="home" id="home">
        <div class="text">
            <h1><span>Szukasz</span> smojego<br>wymażonego samochodu?</h1>
            <p>U nas go znajdziesz<br><br></p>
            <a class="bnt" asp-area='' asp-page='/Offer/Index'>POZNAJ OFERTĘ</a>
        </div>
    </section>
