@page
@model KomisSamochodowy.Pages.Offer.SalesModel
@{
}

<form method="post">
    <input hidden asp-for="Car.carID" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Sprzedaż samochodu</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>ID oferty samochodu</label>
            <input asp-for='Client.FK_carID' class="form-control" />
        </div>
        <div class="mb-3">
            <label>Imie</label>
            <input asp-for='Client.Name'  class="form-control" />
        </div>
        <div class="mb-3">
            <label>Nazwisko</label>
            <input asp-for='Client.LastName' class="form-control" />
        </div>
        <div class="mb-3">
            <label>Ulica</label>
            <input asp-for='Client.Street' class="form-control" />
        </div>
        <div class="mb-3">
            <label>Miasto</label>
            <input asp-for='Client.City' class="form-control" />
        </div>
        <div class="mb-3">
            <label>Kod pocztowy</label>
            <input asp-for='Client.PostCode' class="form-control" />
        </div>
        <div class="mb-3">
            <label>Numer telefonu</label>
            <input asp-for='Client.PhoneNumber' class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Akceptuj</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Powrót</a>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}